<div
	class="container my-4 d-flex justify-content-evenly align-items-start gap-3"
>
	<div class="border border-dark border-2 rounded p-5 w-75">
		<h2 class="fs-2 text-center">Informacion Personal</h2>
		<hr />
		<p class="my-3"><strong>Nombre: </strong><%=user.name.first%></p>
		<p class="my-3"><strong>Apellido: </strong><%=user.name.last%></p>
		<p class="my-3"><strong>Edad: </strong><%=user.age%></p>
		<hr />
		<p class="my-3"><strong>Correo: </strong><%=user.email%></p>
		<p class="my-3"><strong>Telefono: </strong><%=user.phone%></p>
		<hr />
		<p class="my-3"><strong>Direccion: </strong><%=user.address.street%></p>
		<p class="my-3">
			<strong>Nro. Puerta: </strong><%=user.address.streetNum%>
		</p>
		<p class="my-3">
			<strong>Nro. Apto: </strong><%=user.address.departmentNum%>
		</p>
	</div>
	<div class="border border-dark border-2 rounded p-5 w-75">
		<h2 class="fs-2 text-center">Carrito 🛒</h2>
		<% if (userCart !== undefined) { %> <%
		userCart.products.forEach(function(order) { %>
		<hr />
		<p class="my-3"><strong>Producto: </strong><%= order.title %></p>
		<p class="my-3"><strong>Fecha de compra: </strong><%= order.createdAt %></p>
		<p class="my-3">
			<strong>Cantidad de productos: </strong><%= order.quantity %>
		</p>
		<p class="my-3"><strong>Importe total: </strong>$<%= order.total %></p>
		<hr />
		<% }); %> <% } else { %>
		<hr />
		<p class="my-3"><strong>Producto: </strong></p>
		<p class="my-3"><strong>Fecha de compra: </strong></p>
		<p class="my-3">
			<strong>Cantidad de productos: </strong>
		</p>
		<p class="my-3"><strong>Importe total: </strong></p>
		<hr />
		<% } %> <% if (userCart.products.length !== 0) { %>
		<form
			class="d-flex justify-content-center align-items-center mt-3"
			action="http://localhost:8585/api/v1/ordenes"
			method="post"
		>
			<button
				class="btn btn-dark px-4 py-2"
				type="submit"
				name="idCart"
				value="<%=userCart._id %>"
			>
				Finalizar compra
			</button>
		</form>
		<% } else { %>
		<p class="text-center fs-4 my-5 bg-secondary p-3 rounded">
			<strong class="text-light">Vacio</strong>
		</p>
		<% } %>
	</div>
</div>
